{% extends 'base.html' %}

{% block title %}My Store{% endblock title %}

{% block content %}
<h1 class="text-2xl">My store</h1>

{% if messages %}
    {% for message in messages %}
        <div class="px-8 py-4 bg-teal-200 text-teal-800">
            {{ message }}
        </div>
    {% endfor %}
{% endif %}

<a href="{% url 'product_form' %}" class="mt-4 inline-block py-4 px-8 bg-teal-500 text-white">Add product</a>

<h2 class="mt-10 text-xl">My products</h2>
{% if request.user.products.all %}
  {% include 'partials/products_edit.html' %}
{% else %}
    <p class="mt-2 py-4 px-8 bg-gray-100">You don't have any products yet....</p>
{% endif %}
{% endblock content %}
