{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}Login{% endblock %}

{% block style %}
    <style>
        .login-style {
            width:800px;
            margin:auto;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="container mt-5 login-style">
        <h1>Welcome to my E-Commerce webpage</h1>
        <p>A lot of things you need here</p>
        <p>(But don't over buy!)</p>
        <br></br>
        <br></br>

        <h3>Login User</h3>
        <form action="" method="POST" novalidate>
            {{form | crispy}}
            {% csrf_token %}

            <input type="hidden" name="next" value="{{next}}"/>
            <input type="submit" value="Login" class="btn btn-success"/>

        </form>
    </div>
{% endblock %}


